.menu-item {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}
.small-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: gray;
}
body{
    background-color: rgba(188, 132, 20, 0.455);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}