* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ea00ff;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -3px;
}

.block {
    flex: 1 0 calc(33.33% - 6px);
    margin: 3px;
    background-color: #ff9999;
    border: 1px solid #ccc;
}

@media (max-width: 499px) {
    .block {
        flex-basis: 100%;
    }
}

@media (min-width: 500px) and (max-width: 749px) {
    .block {
        flex-basis: calc(50% - 6px);
    }
}

@media (min-width: 750px) and (max-width: 949px) {
    .block {
        flex-basis: calc(33.33% - 6px);
    }
}

@media (min-width: 950px) and (max-width: 1199px) {
    .block {
        flex-basis: calc(25% - 6px);
    }
}

@media (min-width: 1200px) {
    .block {
        flex-basis: calc(20% - 6px);
        max-width: calc(20% - 6px);
    }
}